body {
  font-family: "Open Sans", sans-serif;
  position: relative; }

a {
  text-decoration: none;
  color: #222222; }
  a:hover {
    color: #742b35; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive; }

h1 {
  font-size: 6rem; }
  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 5.5rem; }
  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 3rem; } }

h3 {
  font-size: 4.5rem; }
  @media only screen and (max-width: 1200px) {
    h3 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 3rem; } }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 1200px) {
    h4 {
      font-size: 3rem; } }
  @media only screen and (max-width: 992px) {
    h4 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 768px) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 2.5rem; }
  @media only screen and (max-width: 1200px) {
    h5 {
      font-size: 2.25rem; } }
  @media only screen and (max-width: 992px) {
    h5 {
      font-size: 2rem; } }
  @media only screen and (max-width: 768px) {
    h5 {
      font-size: 1.75rem; } }

h6 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 1200px) {
    h6 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 992px) {
    h6 {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 768px) {
    h6 {
      font-size: 1.2rem; } }

p {
  font-size: 1.3rem; }
  @media only screen and (max-width: 1200px) {
    p {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 992px) {
    p {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 1rem; } }

.section {
  padding: 3% 0; }
  .section .container {
    margin-top: -74px;
    padding-top: 74px; }
  .section .section-header {
    padding: 2rem 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5); }
    .section .section-header .section-title {
      text-align: center; }
  .section .content-box {
    font-size: 1.3rem;
    padding: 3rem;
    margin-top: 5%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5); }

.animated {
  animation-delay: 0.5s;
  animation-duration: 1s; }

.footer {
  background-color: #222222;
  padding: 2rem 0;
  margin-top: 5rem; }
  .footer p {
    margin: 0; }

.navbar {
  background: #222222; }
  .navbar .navbar-collapse {
    flex-grow: 0; }
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #dbdada; }
    .navbar .nav-link:hover,
    .navbar .navbar-brand:hover {
      color: #ff5d73; }
  .navbar .navbar-brand {
    margin-right: 1rem;
    font-size: 2rem;
    font-family: "Pacifico", cursive; }
  .navbar .nav-link.active {
    color: #ff5d73; }
  .navbar .social-icons .social-link {
    color: #dbdada;
    text-decoration: none; }
    .navbar .social-icons .social-link:not(:last-child) {
      padding-right: 1rem; }
    .navbar .social-icons .social-link:hover {
      color: #ff5d73; }
  .navbar .navbar-toggler {
    border-color: #ff5d73; }
    .navbar .navbar-toggler .fa {
      color: #ff5d73; }

#home {
  background: url("../img/bg3.png");
  background-attachment: fixed;
  width: 100%;
  height: 90vh; }
  #home .container {
    height: 100%; }
    #home .container .d-flex {
      height: 100%; }
  #home .header-title,
  #home .header-subtitle {
    text-shadow: 2px 5px 3px rgba(51, 51, 51, 0.5);
    animation-delay: 0.5s;
    animation-duration: 1.5s; }
  #home .header-subtitle {
    font-size: 4rem; }
    @media only screen and (max-width: 1200px) {
      #home .header-subtitle {
        font-size: 3rem; } }
    @media only screen and (max-width: 992px) {
      #home .header-subtitle {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 768px) {
      #home .header-subtitle {
        font-size: 2rem; } }
  #home .arrow-down {
    margin-top: 1rem; }
    #home .arrow-down .animated {
      animation-duration: 2s;
      animation-iteration-count: infinite; }

#resume {
  background: url("../img/bg.png");
  background-attachment: fixed;
  padding-bottom: 10%; }
  #resume .about {
    display: flex; }
    @media (max-width: 1000px) {
      #resume .about {
        flex-direction: column; } }
    #resume .about .about-content {
      width: 70%; }
      @media (max-width: 1000px) {
        #resume .about .about-content {
          width: 100%;
          order: 2; } }
    #resume .about .about-media {
      padding-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      #resume .about .about-media img {
        box-shadow: 0 5px 10px #333;
        width: 300px; }
        @media (max-width: 1000px) {
          #resume .about .about-media img {
            margin-bottom: 1rem; } }
      @media (max-width: 1000px) {
        #resume .about .about-media {
          padding-left: 0;
          order: 1; } }
  #resume .skill-item {
    font-size: 1rem;
    width: 45%;
    padding: 0 1rem; }
    #resume .skill-item h6 {
      padding: 1rem 0 0.5rem;
      font-family: "Pacifico", cursive;
      font-size: 2rem; }
    @media (max-width: 800px) {
      #resume .skill-item {
        width: 100%; } }
  #resume #workHistory .animated {
    animation-duration: 4s;
    animation-iteration-count: infinite; }
  #resume #workHistory .history-item {
    font-size: 1rem; }
    #resume #workHistory .history-item .history-title {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem; }
      #resume #workHistory .history-item .history-title span {
        font-size: .9rem; }

#portfolio {
  background: url("../img/bg2.png");
  background-attachment: fixed;
  color: #222222;
  padding-bottom: 4rem; }
  #portfolio #portfolioLink {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%; }
  #portfolio .portfolio-header {
    background: #ff5d73;
    padding: 3rem 0; }
  #portfolio .portfolio-content {
    padding: 3% 0; }
    #portfolio .portfolio-content .card {
      margin-top: 5%;
      margin-bottom: 5%; }
      #portfolio .portfolio-content .card .card-img-top {
        width: 60%;
        margin: 0 auto; }
      #portfolio .portfolio-content .card .card-title {
        font-size: 1.4rem; }

#contact {
  padding: 4rem 0; }
  #contact h3 {
    margin-bottom: 3rem; }
  #contact .form-group {
    margin-bottom: 2rem; }
    #contact .form-group label {
      font-size: 1.6rem; }
  #contact .btn {
    font-size: 1.6rem; }
