// Typography
$font: 'Open Sans',
sans-serif;
$font2: 'Roboto',
sans-serif;
$font3: 'Pacifico',
sans-serif;

$font-stack: $font;
$heading: $font2;
// $heading: 'Lato',
// sans-serif;
$heading-title: $font3;

$primary-font: $font-stack;
$heading-font: $heading;

// Colors
$outer-space: #494949;
$silver-chalice: #acacac;
$raisin-black: #222222;
$raisin-black-trans: rgba(34, 34, 34, 0.5);
$gainsboro: #dbdada;
$trolley-grey: #7c7a7a;
$onyx: #393838;
$pale-pink: #ffd2d8;
$fiery-rose: #ff5d73;
$wine: #742b35;
$white: #ffffff;
$black: #000000;

// Links
$link-color: $raisin-black;
$link-hover-color: $wine;
// navlinks
$nav-link-color: $gainsboro;
$nav-hover-color: $fiery-rose;
$nav-active-color: $fiery-rose;
$nav-hamburger: $fiery-rose;

// Background Colors
$body-bg: url('../img/bg.png');
$header-bg: url('../img/bg3.png');
$nav-bg: $raisin-black;

// Portfolio
$portfolio-bg: url('../img/bg2.png');
$portfolio-font-color: $raisin-black;
$portfolio-header-bg: url('../img/portfolio-header3.jpg');
$portfolio-header-color: $gainsboro;

// Media Variables
$break-sm: "only screen and (max-width: 768px)";
$break-md: "only screen and (max-width: 992px)";
$break-lg: "only screen and (max-width: 1200px)";

// Mixins
@mixin resp-text($lg-font, $md-font, $sm-font) {
  @media #{$break-lg} {
    font-size: $lg-font;
  }

  @media #{$break-md} {
    font-size: $md-font;
  }

  @media #{$break-sm} {
    font-size: $sm-font;
  }
}