body {
  font-family: $primary-font;
  position: relative;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

.section {
  padding: 3% 0;

  .container {
    // offset fixed navbar for anchor links
    margin-top: -74px;
    padding-top: 74px;
  }

  .section-header {
    padding: 2rem 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);

    .section-title {
      text-align: center;
    }
  }

  .content-box {
    font-size: 1.3rem;
    padding: 3rem;
    margin-top: 5%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);
  }
}

.animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
}

.footer {
  background-color: $raisin-black;
  padding: 2rem 0;
  margin-top: 5rem;

  p {
    margin: 0;
  }
}