body {
  font-family: $primary-font;
  background: $body-bg;
  position: relative;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

.section {
  padding: 2% 0;

  .container {
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);
  }

  .section-header {
    padding: 2rem 0;
    margin-bottom: 2rem;

    .section-title {
      text-align: center;
    }
  }

  .section-content {
    font-size: 1.3rem;
    padding: 3rem;
    margin-top: 4rem;
  }
}

.section-title,
.header-title,
.navbar-brand {
  font-family: $heading;
}

.animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
}