#contact {
  padding: 4rem 0;
  border-top: solid 2px $gainsboro;

  h3 {
    margin-bottom: 3rem;
  }

  .form-group {
    margin-bottom: 2rem;

    label {
      font-size: 1.6rem;
    }
  }

  .btn {
    font-size: 1.6rem;
  }
}