// header styles
#home {
  width: 100%;
  height: 90vh;
  @include background($header-bg);

  .container {
    height: 100%;

    .d-flex {
      height: 100%;
    }
  }

  .header-title {
    font-family: $heading-title;
    @media #{$break-sm} {
      text-align: center;
    }
  }

  .header-title,
  .header-subtitle {
    text-shadow: 2px 5px 3px rgba(51, 51, 51, 0.5);
    animation-delay: 0.5s;
    animation-duration: 1.5s;
  }

  .header-subtitle {
    font-size: 4rem;
    @include resp-text(3rem, 2.5rem, 2rem);
  }

  .arrow-down {
    margin-top: 1rem;

    .animated {
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}
