// nav styles
.navbar {
  background: $nav-bg;

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link,
  .navbar-brand {
    color: $nav-link-color;

    &:hover {
      color: $nav-hover-color;
    }
  }

  .navbar-brand {
    margin-right: 1rem;
    font-size: 2rem;
    font-family: $heading;

    @include resp-text(2rem, 1.75rem, 1.25rem);
  }

  .nav-link.active {
    color: $nav-active-color;
  }

  .social-icons {
    .social-link {
      font-size: 2rem;
      color: $nav-link-color;
      text-decoration: none;

      &:not(:last-child) {
        padding-right: 1rem;
      }

      &:hover {
        color: $nav-hover-color;
      }

      @include resp-text(2rem, 1.75rem, 1.25rem);
    }
  }

  .navbar-toggler {
    border-color: $nav-hamburger;

    .fa {
      color: $nav-hamburger;
      @include resp-text(2rem, 1.75rem, 1.25rem);
    }
  }
}
