// nav styles
.navbar {
  background: $nav-bg;

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link,
  .navbar-brand {
    color: $nav-link-color;

    &:hover {
      color: $nav-hover-color;
    }
  }

  .navbar-brand {
    margin-right: 0;
    font-size: 2rem;
  }


  .nav-link.active {
    color: $nav-active-color;
  }

  .social-icons {
    display: inline-block;

    .social-link {
      color: $nav-link-color;

      &:not(:last-child) {
        padding-right: 1rem;
      }

      &:hover {
        color: $nav-hover-color;
      }
    }
  }

  .navbar-toggler {
    border-color: $nav-hamburger;

    .fa {
      color: $nav-hamburger;
    }
  }
}