#portfolio {
  position: relative;
  background: $primary-bg2;
  background-attachment: fixed;
  color: $portfolio-font-color;

  .portfolio-header {
    height: 400px;
    margin-top: -74px;
    padding-top: 155px;
    background: $portfolio-header-bg;
    background-size: cover;
    background-position: center;
    color: $portfolio-header-color;
    @include box-shadow(15px, 30px);

    @media #{$break-lg} {
      height: 200px;
      padding-top: 80px;
      margin-top: 0;
    }
  }

  .portfolio-content {
    padding: 5%;

    .card {
      margin-top: 5%;
      margin-bottom: 5%;

      .card-img-top {
        border: solid 1px $gainsboro;
      }

      .card-body {
        .card-text {
          strong {
            margin-right: 0.5rem;
          }
        }

        .card-text {
          font-size: 1rem;

          @include resp-text(1rem, 0.9rem, 1rem);
        }
      }

      .card-img-top {
        width: 60%;
        margin: 0 auto;
      }

      .card-title {
        font-size: 1.4rem;
      }
    }
  }
}
