#portfolio {
  background: $portfolio-bg;
  background-attachment: fixed;
  color: $portfolio-font-color;
  padding-bottom: 4rem;

  #portfolioLink {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .portfolio-header {
    background: $fiery-rose;
    padding: 3rem 0;
  }

  .portfolio-content {
    padding: 3% 0;

    .card {
      margin-top: 5%;
      margin-bottom: 5%;

      .card-body {
        .card-text {
          font-size: 1rem;

          @include resp-text(1rem, .9rem, 1rem);
        }
      }

      .card-img-top {
        width: 60%;
        margin: 0 auto;
      }

      .card-title {
        font-size: 1.4rem;
      }
    }
  }
}