#portfolio {
  position: relative;
  background: $portfolio-bg;
  background-attachment: fixed;
  color: $portfolio-font-color;

  .portfolio-header {
    height: 400px;
    margin-top: -74px;
    padding-top: 155px;
    background: $portfolio-header-bg;
    background-size: cover;
    background-position: center;
    color: $portfolio-header-color;

    @media #{$break-lg} {
      height: 200px;
      padding-top: 80px;
      margin-top: 0;
    }
  }

  .portfolio-content {
    padding: 5%;

    .card {
      margin-top: 5%;
      margin-bottom: 5%;

      .card-body {

        .tags {
          border-top: solid 1px $gainsboro;
          border-bottom: solid 1px $gainsboro;
          padding: 1rem 0;
          margin-bottom: 1.6rem;

        }

        .card-text,
        .badge {
          font-size: 1rem;

          @include resp-text(1rem, .9rem, 1rem);
        }
      }

      .card-img-top {
        width: 60%;
        margin: 0 auto;
      }

      .card-title {
        font-size: 1.4rem;
      }
    }
  }
}